Add your changes to style.css
body{
  margin: 0;
  font: serif;
  background-color: white;
  color: darkblue
}
h1{
 text-align: center;
  color: #00b3ff;

  font-family: serif
}
.card{
  background-color: deepskyblue;
  padding: 25px;
  border-radius: 20px;
  width: 300px;
  box-shadow:0px 4px 10px rgba(0,0,0,0.15);
  margin: auto;
  
}
.image{
  width: 300px;
  outline-style: solid;
  outline-color: darkblue;
  outline-width: 4px;
  
}
h2{
  font-family: cursive;
  color: powderblue
}
p{
  color: mediumblue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #80c8ff;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: #0c1050;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}